[submodule "Alamofire"]
	path = Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "AlamofireImage"]
	path = AlamofireImage
	url = https://github.com/Alamofire/AlamofireImage.git
[submodule "Nimble"]
	path = Nimble
	url = https://github.com/Quick/Nimble.git
